[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
beautifulsoup4 = "==4.12.2"
django = "*"
django-htmlmin = "==0.11.0"
html5lib = "==1.1"
minify-html = "==0.11.1"
six = "==1.16.0"
soupsieve = "==2.5"
sqlparse = "==0.4.4"
tzdata = "==2023.3"
webencodings = "==0.5.1"
pymongo = "==4.6.3"

[dev-packages]

[requires]
python_version = "3.12"
