{% extends 'components/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'assets/libs/glightbox/css/glightbox.min.css'%}" />

{% endblock %} {% block content %}

<div class="main-content">
    <!-- Page Header -->
    <div class="block justify-between page-header md:flex">
        <div>
            <h3
                class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">
                Profile
            </h3>
        </div>
        <ol class="flex items-center whitespace-nowrap min-w-0">
            <li class="text-[0.813rem] ps-[0.5rem]">
                <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate"
                    href="javascript:void(0);">
                    Pages
                    <i
                        class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                </a>
            </li>
            <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50"
                aria-current="page">
                Profile
            </li>
        </ol>
    </div>
    <!-- Page Header Close -->

    <!-- Start::row-1 -->
    <div class="grid grid-cols-12 gap-x-6">
        <div class="xxl:col-span-4 xl:col-span-12 col-span-12">
            <div class="box overflow-hidden">
                <div class="box-body !p-0">
                    <div class="sm:flex items-start p-6 main-profile-cover">
                        <div>
                            <span class="avatar avatar-xxl avatar-rounded me-4">
                                <img src="{% static 'assets/images/company-logos/arclk.png'%}" alt="" />
                            </span>
                        </div>
                        <div class="flex-grow main-profile-info">
                            <div class="flex items-center !justify-between">
                                <h6 class="font-semibold mb-1 text-white text-[1rem]">ARCLK</h6>
                            </div>
                            <!--<p class="mb-1 !text-white  opacity-[0.7]">Chief Executive Officer (C.E.O)</p>-->
                            <p class="text-[0.75rem] text-white mb-6 opacity-[0.5]">
                                <span class="me-4 inline-flex"><i
                                        class="ri-building-line me-1 align-middle"></i>Istanbul</span>
                                <span class="inline-flex"><i
                                        class="ri-map-pin-line me-1 align-middle"></i>Istanbul</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-6 border-b border-dashed dark:border-defaultborder/10">
                    <div class="mb-6">
                        <p class="text-[.9375rem] mb-2 font-semibold">
                            About:
                        </p>
                        <p class="text-[0.75rem] text-[#8c9097] dark:text-white/50 opacity-[0.7] mb-0">
                            <b class="text-defaulttextcolor">Arcelik A.S.</b> manufactures and sells refrigerators,
                            washing machines,cooking appliances, vacuum cleaners, refrigeration compressors, electric
                            motors and consumer
                            electronics
                            products.
                        </p>
                    </div>
                    <div class="mb-0">
                        <p class="text-[.9375rem] mb-2 font-semibold">Links :</p>
                        <div class="mb-0">
                            <p class="mb-1">
                                <a href="javascript:void(0)"
                                    class="text-primary"><u>https://www.arcelikglobal.com/en/</u></a>
                            </p>
                            <p class="mb-0">
                                <a href="javascript:void(0)"
                                    class="text-primary"><u>https://www.arcelikglobal.com/</u></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="p-6">
                    <p class="text-[.9375rem] mb-2 me-6 font-semibold">Yönetim Kurulu: </p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="sm:flex items-start">
                                <div class="sm:ms-2 ms-0 sm:mt-0 mt-1 font-semibold flex-grow">
                                    <p class="mb-0 leading-none">Vehbi Koç</p>
                                    <span
                                        class="text-[.6875rem] text-[#8c9097] dark:text-white/50 opacity-[0.7]">Founder</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="sm:flex items-start">
                                <div class="sm:ms-2 ms-0 sm:mt-0 mt-1 font-semibold flex-grow">
                                    <p class="mb-0 leading-none">Hakan Hamdi Bulgurlu</p>
                                    <span
                                        class="text-[.6875rem] text-[#8c9097] dark:text-white/50 opacity-[0.7]">CEO</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="sm:flex items-start">
                                </span>
                                <div class="sm:ms-2 ms-0 sm:mt-0 mt-1 font-semibold flex-grow">
                                    <p class="mb-0 leading-none">Özkan Çimen</p>
                                    <span
                                        class="text-[.6875rem] text-[#8c9097] dark:text-white/50 opacity-[0.7]">CFO</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="p-6 border-b border-dashed dark:border-defaultborder/10">
                    <p class="text-[.9375rem] mb-2 me-6 font-semibold">
                        Contact Information :
                    </p>
                    <div class="text-[#8c9097] dark:text-white/50">
                        <p class="mb-2">
                            <span
                                class="avatar avatar-sm avatar-rounded me-2 bg-light text-[#8c9097] dark:text-white/50">
                                <i
                                    class="ri-mail-line align-middle text-[.875rem] text-[#8c9097] dark:text-white/50"></i>
                            </span>
                            kurumsal@arcelik.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xxl:col-span-8 xl:col-span-12 col-span-12">
        <div class="grid grid-cols-12 gap-x-6">
            <div class="xl:col-span-12 col-span-12">
                <div class="box">
                    <div class="box-body !p-0">
                        <div
                            class="!p-4 border-b dark:border-defaultborder/10 border-dashed md:flex items-center justify-between">
                            <nav class="-mb-0.5 sm:flex md:space-x-6 rtl:space-x-reverse pb-2">
                                <a class="w-full sm:w-auto flex active hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="company-info-tab"
                                    data-hs-tab="#company-info-tab-pane" aria-controls="company-info-tab-pane">
                                    <i class="ri-building-line align-middle inline-block me-1"></i>Company Information
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="profitability-tab"
                                    data-hs-tab="#profitability-tab-pane" aria-controls="profitability-tab-pane">
                                    <i class="ri-bar-chart-2-line align-middle inline-block me-1"></i>Profitability
                                    Measurements
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="ratios-tab" data-hs-tab="#ratios-tab-pane"
                                    aria-controls="ratios-tab-pane">
                                    <i class="ri-calculator-line align-middle inline-block me-1"></i>Ratios
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(4);" id="net-debt-tab" data-hs-tab="#net-debt-tab-pane"
                                    aria-controls="net-debt-tab-pane">
                                    <i class="ri-pie-chart-line align-middle inline-block me-1"></i>Net Debt Analysis
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="price-tab" data-hs-tab="#price-tab-pane"
                                    aria-controls="price-tab-pane">
                                    <i class="ri-coin-line align-middle inline-block me-1"></i>Stock Price TL
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="price-usd-tab" data-hs-tab="#price-usd-tab-pane"
                                    aria-controls="price-usd-tab-pane">
                                    <i class="ri-coin-line align-middle inline-block me-1"></i>Stock Price USD
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(6);" id="balance-sheet-tab"
                                    data-hs-tab="#balance-sheet-tab-pane" aria-controls="balance-sheet-tab-pane">
                                    <i class="ri-file-list-3-line align-middle inline-block me-1"></i>Balance Sheet
                                </a>

                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="income-statement-tab"
                                    data-hs-tab="#income-statement-tab-pane" aria-controls="income-statement-tab-pane">
                                    <i class="ri-bar-chart-line align middle inline-block me-1"></i>Income Statement
                                </a>
                                <a class="w-full sm:w-auto flex hs-tab-active:font-semibold hs-tab-active:text-white hs-tab-active:bg-primary rounded-md py-2 px-4 text-primary text-sm"
                                    href="javascript:void(0);" id="cashflow-statement-tab"
                                    data-hs-tab="#cashflow-statement-tab-pane"
                                    aria-controls="income-statement-tab-pane">
                                    <i class="ri-bar-chart-line align middle inline-block me-1"></i>Cash Flow Statement
                                </a>
                            </nav>
                        </div>
                        <div class=" !p-4">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane show active fade !p-0 !border-0" id="company-info-tab-pane"
                                    role="tabpanel" aria-labelledby="company-info-tab" tabindex="1">
                                    <div class="box-title">
                                        <h4>Company Informations
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <h5>TBD</h5>
                                    </div>
                                </div>
                                <div class="tab-pane fade !p-0 !border-0 hidden !rounded-md" id="profitability-tab-pane"
                                    role="tabpanel" aria-labelledby="profitability-tab" tabindex="2">
                                    <div class="box-body">
                                        <div class="table-responsive">

                                            <div class="box-title">

                                                <h4>ARCLK's Profitability Measurements</h4>
                                            </div>
                                            <table class="table whitespace-nowrap min-w-full ">
                                                <thead>
                                                    <tr class="border-b border-defaultborder">

                                                        <th scope="col" class="text-start">Indicator</th>
                                                        <th scope="col" class="text-start">2022 FY</th>
                                                        <th scope="col" class="text-start">2023 FY</th>
                                                        <th scope="col" class="text-start">Change</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <tbody>
                                                    <tr class="border-b border-defaultborder">

                                                        <th scope="row" class="text-start">Revenue</th>
                                                        <td>₺257.172,0
                                                        </td>
                                                        <td>₺257.104,0
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-warning">0%<i
                                                                    class="ri-arrow ms-1"></i></a></td>


                                                    </tr>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start">Gross Profit</th>

                                                        <td>₺68.670,5
                                                        </td>
                                                        <td>₺75.378,0
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">9.8%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>



                                                    </tr>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start">Operating Income</th>

                                                        <td>₺9.401,4
                                                        </td>
                                                        <td>₺10.157,7
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">8.0%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>

                                                    </tr>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start">NOPAT</th>

                                                        <td>₺148.427,2
                                                        </td>
                                                        <td>₺8.711,9
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">42.4%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>

                                                    </tr>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start">EBIT </th>
                                                        <td>₺197.902,9
                                                        </td>
                                                        <td>₺11.615,9
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">42.4%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start">EBITDA </th>
                                                        <td>₺16.220,3
                                                        </td>
                                                        <td>₺20.330,9
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">25.3%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>
                                                    </tr>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start"> Net Income </th>
                                                        <td>₺6.285,5
                                                        </td>
                                                        <td>₺7.667,4
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">22.0%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>
                                                    </tr>
                                                    <tr class="border-b border-defaultborder">
                                                        <th scope="row" class="text-start"> FCFF </th>
                                                        <td>-₺12.747,0
                                                        </td>
                                                        <td>-₺21.787,0
                                                        </td>
                                                        <td><a href="javascript:void(0);" class="text-success">70.9%<i
                                                                    class="ri-arrow-up-fill ms-1"></i></a></td>
                                                    </tr>

                                                </tbody>


                                                </tbody>
                                            </table>

                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade !p-0 !border-0 hidden" id="ratios-tab-pane" role="tabpanel"
                                aria-labelledby="ratios-tab" tabindex="3">

                                <div class="table-responsive">
                                    <div class="box-title">
                                        <h4>ARCLK's Ratios</h4>
                                    </div>
                                    <table class="table whitespace-nowrap min-w-full ">
                                        <table class="table whitespace-nowrap min-w-full ">
                                            <thead>
                                                <tr class="border-b border-defaultborder">

                                                    <th scope="col" class="text-start">Indicator</th>
                                                    <th scope="col" class="text-start">2022 FY</th>
                                                    <th scope="col" class="text-start">2023 FY</th>
                                                    <th scope="col" class="text-start">Change</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider dark:border-defaultborder/10">
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">P/E</th>
                                                    <td>3.2</td>
                                                    <td>{{ stock_data.ARCLK.pe_ratio|floatformat:"1" }}</td>
                                                    <td><a href="javascript:void(0);" class="text-success">231.25%<i class="ri-arrow ms-1"></i></a></td>
                                
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">Price to Book</th>
                                                    <td>29.2</td>
                                                    <td>{{ stock_data.ARCLK.price_to_book |floatformat:"2"}}</td>
                                                    <td><a href="javascript:void(0);" class="text-danger">-93.86%<i class="ri-arrow ms-1"></i></a></td>
                                
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">EV/EBITDA</th>
                                                    <td>10.3</td>
                                                    <td>{{ stock_data.ARCLK.ev_ebitda |floatformat:"2"}}</td>
                                                    <td><a href="javascript:void(0);" class="text-danger">-10.19%<i class="ri-arrow ms-1"></i></a></td>
                                
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">EV/FCFF</th>
                                                    <td>-12.6</td>
                                                    <td>-7.4</td>
                                                    <td><a href="javascript:void(0);" class="text-success">41.5%<i class="ri-arrow-down-fill ms-1"></i></a></td>

                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">ROA</th>
                                                    <td>4.0</td>
                                                    <td>3.1</td>
                                                    <td><a href="javascript:void(0);" class="text-danger">-21.0%<i class="ri-arrow-down-fill ms-1"></i></a></td>
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">ROE</th>
                                                    <td>17.4</td>
                                                    <td>{{ stock_data.ARCLK.roe |floatformat:"2"}}</td>
                                                    <td><a href="javascript:void(0);" class="text-danger">-16.9%<i class="ri-arrow-down-fill ms-1"></i></a></td>
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">Current Ratio</th>
                                                    <td>1.2</td>
                                                    <td>{{ stock_data.ARCLK.current_ratio |floatformat:"3" }}</td>
                                                    <td><a href="javascript:void(0);" class="text-success">3.58%<i class="ri-arrow-up-fill ms-1"></i></a></td>
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">Quick Ratio</th>
                                                    <td>0.8</td>
                                                    <td>{{ stock_data.ARCLK.quick_ratio |floatformat:"2"}}</td>
                                                    <td><a href="javascript:void(0);" class="text-success">7.5%<i class="ri-arrow-up-fill ms-1"></i></a></td>
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">Total Debt/Total Assets</th>
                                                    <td>36.5</td>
                                                    <td>39.5</td>
                                                    <td><a href="javascript:void(0);" class="text-success">8.3%<i
                                                                class="ri-arrow-up-fill ms-1"></i></a></td>
                                                </tr>
                                                <tr class="border-b border-defaultborder">
                                                    <th scope="row" class="text-start">Cash/Market Cap</th>
                                                    <td>0.0005</td>
                                                    <td>{{ stock_data.ARCLK.cash_market_cap}}</td>
                                                    <td><a href="javascript:void(0);" class="text-success">5.4%<i class="ri-arrow-up-fill ms-1"></i></a></td>
                                                </tr>
                                            </tbody>


                                            </tbody>
                                        </table>
                                </div>


                            </div>
                        </div>
                        <div class="tab-pane fade !p-0 !border-0 hidden" id="net-debt-tab-pane" role="tabpanel"
                            aria-labelledby="net-debt-tab" tabindex="4">
                            <div class="grid grid-cols-12 gap-x-6">
                                <div class="xl:col-span-6 col-span-12">
                                    <div class="box custom-box">
                                        <div class="box-header">
                                            <div class="box-title">ARCLK Net Debt Analysis</div>
                                        </div>
                                        <div class="box-body">
                                            <div id="column-basic"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade !p-0 !border-0 hidden" id="price-tab-pane" role="tabpanel"
                                aria-labelledby="price-tab" tabindex="5">
                                <div class="grid grid-cols-16 sm:gap-x-6 gap-y-6">
                                    <div class="xl:col-span-6 col-span-16">
                                        <div class="box custom-box">
                                            <div class="box-header">
                                                <div class="box-title">ARCLK Stock Price TL</div>
                                            </div>
                                            <div class="box-body">
                                                <div id="line-chart"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane fade !p-0 !border-0 hidden" id="price-usd-tab-pane" role="tabpanel"
                                aria-labelledby="price-usd-tab" tabindex="6">
                                <div class="grid grid-cols-16 sm:gap-x-6 gap-y-6">
                                    <div class="xl:col-span-6 col-span-16">
                                        <div class="box custom-box">
                                            <div class="box-header">
                                                <div class="box-title">ARCLK Stock Price USD</div>
                                            </div>
                                            <div class="box-body">
                                                <div id="line-chart-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade !p-0 !border-0 hidden" id="balance-sheet-tab-pane" role="tabpanel"
                                aria-labelledby="balance-sheet-tab" tabindex="6">
                                <div class="grid  sm:gap-x-6 gap-y-6">
                                    <div class="box custom-box">
                                        <div class="box-title">
                                            <h4> ARCLK's Balance Sheet</h4>
                                        </div>
                                        <div class="box-body">
                                            <h5>TBD</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade !p-0 !border-0 hidden" id="income-statement-tab-pane"
                                    role="tabpanel" aria-labelledby="income-statement-tab" tabindex="7">
                                    <div class="grid sm:gap-x-6 gap-y-6">
                                        <div class="box-title">
                                            <h4> ARCLK's Income Statement</h4>
                                        </div>
                                        <div class="box-body">
                                            <h5>TBD</h5>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade !p-0 !border-0 hidden" id="cashflow-statement-tab-pane"
                                        role="tabpanel" aria-labelledby="cashflow-statement-tab" tabindex="8">
                                        <div class="grid sm:gap-x-6 gap-y-6">
                                            <div class="box-title">
                                                <h4> ARCLK's Cash Flow Statement</h4>

                                            </div>
                                            <div class="box-body">
                                                <h5>TBD</h5>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End::row-1 -->
</div>

{% endblock %} {% block scripts %}

<!-- Gallery JS -->
<script src="{% static 'assets/libs/glightbox/js/glightbox.min.js'%}"></script>

<!-- Internal Profile JS -->
<script src="{% static 'assets/js/profile.js'%}"></script>

<!-- Apex Charts JS -->
<script src="{% static 'assets/libs/apexcharts/apexcharts.min.js'%}"></script>

<!-- Internal Apex-Column-Charts JS -->
<script src="{% static 'assets/js/apexcharts-column.js'%}"></script>
<!-- Used In Zoomable TIme Series Chart -->
<script src="{% static 'assets/js/dataseries.js'%}"></script>

<script src="{% static 'assets/js/apexcharts-line.js'%}"></script>
<!-- Apex Charts JS -->

{% endblock %}