{% extends 'components/base.html' %}
{% load static %}

{% block styles %}

        <!-- Prism CSS -->
        <link rel="stylesheet" href="{% static 'assets/libs/prismjs/themes/prism-coy.min.css'%}">
                
{% endblock %}

{% block content %}

                    <!-- Start::main-content -->
                    <div class="main-content">
                        <!-- Page Header -->
                        <div class="block justify-between page-header md:flex">
                            <div>
                                <h3 class="!text-defaulttextcolor dark:!text-defaulttextcolor/70 dark:text-white dark:hover:text-white text-[1.125rem] font-semibold">Tables</h3>
                            </div>
                            <ol class="flex items-center whitespace-nowrap min-w-0">
                                <li class="text-[0.813rem] ps-[0.5rem]">
                                <a class="flex items-center text-primary hover:text-primary dark:text-primary truncate" href="javascript:void(0);">
                                    Tables
                                    <i class="ti ti-chevrons-right flex-shrink-0 text-[#8c9097] dark:text-white/50 px-[0.5rem] overflow-visible rtl:rotate-180"></i>
                                </a>
                                </li>
                                <li class="text-[0.813rem] text-defaulttextcolor font-semibold hover:text-primary dark:text-[#8c9097] dark:text-white/50 " aria-current="page">
                                Tables
                                </li>
                            </ol>
                        </div>
                        <!-- Page Header Close -->

                       
                        <!-- Start:: row-3 -->
                        <div class="grid grid-cols-24 gap-2" >
                            <div class="xl:col-span-6 col-span-12">
                                <div class="box custom-box">
                                    <div class="box-header justify-between">
                                        <div class="box-title">
                                            ARCLK Profitability Measurements
                                        </div>
                                        <div class="prism-toggle">
                                            <button type="button" class="ti-btn !py-1 !px-2 ti-btn-primary !font-medium !text-[0.75rem]">Show Code<i class="ri-code-line ms-2 inline-block align-middle"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body" >
                                        <div class="table-responsive" >
                                            <table class="table whitespace-nowrap table-borderless min-w-full">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="text-start">Indicator</th>
                                                        <th scope="col" class="text-start">2022FY</th>
                                                        <th scope="col" class="text-start">2023FY</th>
                                                        <th scope="col" class="text-start">Change</th>
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row" class="text-start">Revenue</th>
                                                        <td>₺ 25.717,2</td>
                                                        <td>₺ 25.710,4</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">Gross Profit</th>
                                                        <td>₺ 68.670,5</td>
                                                        <td>₺ 75.37,8</td>
                                                        <td><span class="badge bg-success  text-white">9.8%</span></td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">Operating Income</th>
                                                        <td>₺ 9.401,4</td>
                                                        <td>₺ 10.157,7</td>
                                                        <td><span class="badge bg-success  text-white">8.0%</span></td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">NOPAT</th>
                                                        <td>₺ 148.427,2</td>
                                                        <td>₺ 8.711,925</td>
                                                        <td><span class="badge bg-success  text-white">42.4%</span></td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">EBIT </th>
                                                        <td>₺ 197.902,9</td>
                                                        <td>₺ 11.615,9</td>
                                                        <td><span class="badge bg-success  text-white">42.3%</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start">EBITDA </th>
                                                        <td>₺ 16.220,3</td>
                                                        <td>₺ 20.330,9</td>
                                                        <td><span class="badge bg-success  text-white">25.3% </span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start"> Net Income </th>
                                                        <td>₺ 6.285,5</td>
                                                        <td>₺ 7.667,4</td>
                                                        <td><span class="badge bg-success  text-white">22.0%</span></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row" class="text-start"> FCFF </th>
                                                        <td>₺ -12.747,0</td>
                                                        <td>₺ -21.787,0</td>
                                                        <td><span class="badge bg-success  text-white">70.9%</span></td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                    <div class="box-footer hidden border-t-0">
        <!-- Prism Code -->
        <pre class="language-html"><code class="language-html">
            &lt;div class="table-responsive"&gt;
                &lt;table class="table whitespace-nowrap table-borderless min-w-full"&gt;
                    &lt;thead&gt;
                        &lt;tr&gt;
                            &lt;th scope="col" class="text-start"&gt;User Name&lt;/th&gt;
                            &lt;th scope="col" class="text-start"&gt;Transaction Id&lt;/th&gt;
                            &lt;th scope="col" class="text-start"&gt;Created&lt;/th&gt;
                            &lt;th scope="col" class="text-start"&gt;Status&lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/
                        &lt;tr&gt;
                            &lt;th scope="row" class="text-start"&gt;Harshrath&lt;/th&gt;
                            &lt;td&gt;#5182-3467&lt;/td&gt;
                            &lt;td&gt;24 May 2022&lt;/td&gt;
                            &lt;td&gt;&lt;span class="badge bg-primary text-white"&gt;Fixed&lt;/span&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope="row" class="text-start"&gt;Zozo Hadid&lt;/th&gt;
                            &lt;td&gt;#5182-3412&lt;/td&gt;
                            &lt;td&gt;02 July 2022&lt;/td&gt;
                            &lt;td&gt;&lt;span class="badge bg-warning  text-white"&gt;In Progress&lt;/span&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope="row" class="text-start"&gt;Martiana&lt;/th&gt;
                            &lt;td&gt;#5182-3423&lt;/td&gt;
                            &lt;td&gt;15 April 2022&lt;/td&gt;
                            &lt;td&gt;&lt;span class="badge bg-success  text-white"&gt;Completed&lt;/span&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;th scope="row" class="text-start"&gt;Alex Carey&lt;/th&gt;
                            &lt;td&gt;#5182-3456&lt;/td&gt;
                            &lt;td&gt;17 March 2022&lt;/td&gt;
                            &lt;td&gt;&lt;span class="badge bg-danger  text-white"&gt;Pending&lt;/span&gt;&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;
            &lt;/div&gt;</code></pre>
       
{% endblock %}

{% block scripts %}

        <!-- Prism JS -->
        <script src="{% static 'assets/libs/prismjs/prism.js'%}"></script>
        <script src="{% static 'assets/js/prism-custom.js'%}"></script>

{% endblock %}