{% load static %}

<aside class="app-sidebar" id="sidebar">

    <!-- Start::main-sidebar-header 
    <div class="main-sidebar-header">
        <a href="index" class="header-logo">
            <img src="{% static 'assets/images/brand-logos/desktop-logo.png'%}" alt="logo" class="desktop-logo">
            <img src="{% static 'assets/images/brand-logos/toggle-logo.png'%}" alt="logo" class="toggle-logo">
            <img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt="logo" class="desktop-dark">
            <img src="{% static 'assets/images/brand-logos/toggle-dark.png'%}" alt="logo" class="toggle-dark">
            <img src="{% static 'assets/images/brand-logos/desktop-white.png'%}" alt="logo" class="desktop-white">
            <img src="{% static 'assets/images/brand-logos/toggle-white.png'%}" alt="logo" class="toggle-white">
        </a>
    </div>-->
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg></div>
            <ul class="main-menu">
                <li class="slide__category"><span class="category-name">Hissekar</span></li>
                <li class="slide">
                    <a href="{% url 'marketcap' %}" class="side-menu__item">
                        <i class="bx bx-home side-menu__icon"></i>
                        <span class="side-menu__label">BIST30 Marketcap</span>
                    </a>
                    

                    <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label">Stocks<span></span></span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class=" slide">
                            <a href="/profile/ARCLK.IS" class="side-menu__item">Arçelik</a>
                            <a href="/profile/ALARK.IS" class="side-menu__item">Alarko</a>
                            <a href="/profile/ASELS.IS" class="side-menu__item">Aselsan</a>
                            <a href="/profile/ASTOR.IS" class="side-menu__item">Astor</a>
                            <a href="/profile/BIMAS.IS" class="side-menu__item">BİM</a>
                            <a href="/profile/BRSAN.IS" class="side-menu__item">Borusan Otomotiv</a>
                            <a href="/profile/EKGYO.IS" class="side-menu__item">Emlak Konut GYO</a>
                            <a href="/profile/ENKAI.IS" class="side-menu__item">Enka İnşaat ve Sanayi</a>
                            <a href="/profile/EREGL.IS" class="side-menu__item">Ereğli Demir ve Çelik Fabrikaları</a>
                            <a href="/profile/FROTO.IS" class="side-menu__item">Ford Otomotiv</a>
                            <a href="/profile/GUBRF.IS" class="side-menu__item">Gübre Fabrikaları</a>
                            <a href="/profile/HEKTS.IS" class="side-menu__item">Hektaş</a>
                            <a href="/profile/KCHOL.IS" class="side-menu__item">Koç Holding</a>
                            <a href="/profile/KONTR.IS" class="side-menu__item">Kontrolmatik</a>
                            <a href="/profile/KOZAL.IS" class="side-menu__item">Koza Altın</a>
                            <a href="/profile/KRDMD.IS" class="side-menu__item">Kardemir</a>
                            <a href="/profile/ODAS.IS" class="side-menu__item">Odaş</a>
                            <a href="/profile/OYAKC.IS" class="side-menu__item">Oyak Çimento</a>
                            <a href="/profile/PETKM.IS" class="side-menu__item">Petkim</a>
                            <a href="/profile/PGSUS.IS" class="side-menu__item">Pegasus</a>
                            <a href="/profile/SAHOL.IS" class="side-menu__item">Sabancı Holding</a>
                            <a href="/profile/SASA.IS" class="side-menu__item">SASA</a>
                            <a href="/profile/SISE.IS" class="side-menu__item">Şişe Cam</a>
                            <a href="/profile/TCELL.IS" class="side-menu__item">Turkcell</a>
                            <a href="/profile/THYAO.IS" class="side-menu__item">THY</a>
                            <a href="/profile/TOASO.IS" class="side-menu__item">Tofaş Otomobil</a>
                            <a href="/profile/TUPRS.IS" class="side-menu__item">Tüpraş</a>
                            
                        </li>
                </li>
                <!-- End::slide -->

                <!-- End::slide -->

                <!-- Start::slide -->

                <!-- End::slide -->
                <!-- End::slide -->

                <!-- Start::slide__category -->

                <!-- End::slide -->

                <!-- Start::slide -->


                <!-- Start::slide -->

                <!-- End::slide__category -->

                <!-- Start::slide -->
                <!-- End::slide -->

                <!-- Start::slide__category -->

        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>