{% load static %}

<aside class="app-sidebar" id="sidebar">

    <!-- Start::main-sidebar-header 
    <div class="main-sidebar-header">
        <a href="index" class="header-logo">
            <img src="{% static 'assets/images/brand-logos/desktop-logo.png'%}" alt="logo" class="desktop-logo">
            <img src="{% static 'assets/images/brand-logos/toggle-logo.png'%}" alt="logo" class="toggle-logo">
            <img src="{% static 'assets/images/brand-logos/desktop-dark.png'%}" alt="logo" class="desktop-dark">
            <img src="{% static 'assets/images/brand-logos/toggle-dark.png'%}" alt="logo" class="toggle-dark">
            <img src="{% static 'assets/images/brand-logos/desktop-white.png'%}" alt="logo" class="desktop-white">
            <img src="{% static 'assets/images/brand-logos/toggle-white.png'%}" alt="logo" class="toggle-white">
        </a>
    </div>-->
    <!-- End::main-sidebar-header -->

    <!-- Start::main-sidebar -->
    <div class="main-sidebar" id="sidebar-scroll">

        <!-- Start::nav -->
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24"
                    height="24" viewBox="0 0 24 24">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg></div>
            <ul class="main-menu">
                <li class="slide__category"><span class="category-name">Hissekar</span></li>
                <li class="slide">
                    <a href="cryptomarketcap" class="side-menu__item">
                        <i class="bx bx-home side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>

                    <!-- Start::slide -->
                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-file-blank side-menu__icon"></i>
                        <span class="side-menu__label">Pages<span></span></span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu">
                        <li class=" slide">
                            <a href="profile" class="side-menu__item">Profile</a>
                        </li>
                </li>
                <!-- End::slide -->

                <!-- End::slide -->

                <!-- Start::slide -->

                <!-- End::slide -->
                <!-- End::slide -->

                <!-- Start::slide__category -->

                <!-- End::slide -->

                <!-- Start::slide -->


                <!-- Start::slide -->

                <!-- End::slide__category -->

                <!-- Start::slide -->
                <!-- End::slide -->

                <!-- Start::slide__category -->

        </nav>
        <!-- End::nav -->

    </div>
    <!-- End::main-sidebar -->

</aside>